<div class="page-container">
  <div class="form-container">
    <p>忘記密碼</p>
      <form (ngSubmit)="onSubmit()" class="forgot-password-form">
        <div class="input-group">
          <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
          <button type="submit">提交</button>
        </div>
      </form>
      <p *ngIf="message" class="message">{{ message }}</p>
      <button class="fontcolor" mat-stroked-button (click)="goback()">返回</button>
    </div>
  </div>
